<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Chouchan Louai</title>
    <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <div class="profile-pic">

        </div>
        <div class="name">
            <img src="../img/devf.svg" alt="">
            <div class="field">
                <p>chouchane louai</p>
            </div>
        </div>
        <div class="bio">
            <img src="../img/type.svg" alt="">
            <div class="field-expanded">
                <p>
                    a javascripter who doesn't love javascript that much<br>
                    I enjoy ping pong as well
                </p>
            </div>
        </div>
        <div class="thoughts">
            <img src="../img/lamp.svg" alt="">
            <div class="field">
                <p>my thoughts</p>
            </div>
        </div>
        <div class="links">
            <img src="../img/cata.svg" alt="">
            <div class="field">
                <p>link to portfolio/p>
            </div>
        </div>
        <div class="contacts">
            <img src="../img/share.svg" alt="">
            <div class="field">
                <p>contacts</p>
            </div>
        </div>
    </div>

    <footer class="foot">
        <p>&copy; Chouchane Louai - 2020</p>
    </footer>
</body>
</html>